{% extends "base.html" %}

{% block title %}View Job{% endblock %}

{% block pagetitle %}View Job{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
    <li><a href="{% url 'job_list' %}">View All Jobs</a></li>
	  <li>View Job</li>
{% endblock %}

{% load static %}

{% block content %}

<!-- page content -->
<section class="inner-page">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="content invoice">
            <!-- title row -->
            <div class="row">
              <div class="  invoice-header">
                <h1>{{object.title}}</h1>
              </div>
              <!-- /.col -->
            </div>
            <!-- info row -->
            <div class="row invoice-info">
              <div class="col-sm-4 invoice-col">
                <address>
                    <strong>{{object.hiring_company}}</strong>
                    {{object.address}},
                    {{object.city.name}{{object.state.code}} {{object.state.zipcode}}
                    <br>Phone: {{object.phone}}
                    <br>Email: {{object.email}}
                </address>
              </div>
              <div class="col-sm-4 invoice-col">
                <b>Hiring Manager:</b> {{object.hiring_manager_name}}
                <br>
                <b>Hourly Rate:</b> ${{object.hourly_rate}}
                <br>
                <b># of Roles:</b> {{object.number_of_roles}}
                <br>
                <b>Active:</b> {% if object.publish %}Yes{% else %}No{% endif %}
                <br>
                <b>Category:</b> {{object.category.name}}
                <br>
                <b>Sub Categories:</b> {% for cat in object.subcategory.all %} {{cat.name}}, {% endfor %}
                <br>
                <br>
              </div>
              <div class="col-sm-4 invoice-col">
                <b># of Job Offers          :</b> {{ object.joboffer_set.count }}
                <br>
                <b># of Job Offers Pending  :</b> {{ no_of_pending|length }}
                <br>
                <b># of Job Offers Accept   :</b> {{ no_of_accept|length }}
                <br>
                <b># of Job Offers Decline  :</b> {{ no_of_decline|length }}
                <br>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
            
        </div>
      </div>
    </div>

    <div class="container">
      
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="tab1" data-toggle="tab" href="#tab11" role="tab" aria-controls="tab11" aria-selected="true">Job Description</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="tab2" data-toggle="tab" href="#tab12" role="tab" aria-controls="tab12" aria-selected="false">Job Offers Pending</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="tab3" data-toggle="tab" href="#tab13" role="tab" aria-controls="tab13" aria-selected="false">Job Offers Accepted</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="tab4" data-toggle="tab" href="#tab14" role="tab" aria-controls="tab14" aria-selected="false">Job Offers Declined</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="tab5" data-toggle="tab" href="#tab15" role="tab" aria-controls="tab15" aria-selected="false">Job Shift Schedule</a>
        </li>
      </ul>
      
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="tab11" role="tabpanel" aria-labelledby="tab1">
            <p>{{object.description}}</p>
        </div>
        <div class="tab-pane" id="tab12" role="tabpanel" aria-labelledby="tab2">
            <table class="data table table-striped no-margin">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Request Date & Time</th>
                    <th>Request Status</th>
                  </tr>
                </thead>
                <tbody>
                  {% if no_of_pending %}
                    {% for obj in no_of_pending %}
                    <tr>
                      <td>{{obj.user.first_name}} {{obj.user.last_name}}</td>
                      <td>{{obj.user.email}}</td>
                      <td >{{obj.user.mobile}}</td>
                      <td >{{obj.createdAt}}</td>
                      <td >{{obj.action}}</td>
                    </tr>
                    {% endfor %}
                  {% else %}
                  <tr class="odd even pointer">
                      <td colspan="5">
                        <div class="alert alert-info alert-dismissible">
                          Request not found.
                        </div>
                      </td>
                    </tr>
                  {% endif %}
                </tbody>
              </table>
        </div>
        <div class="tab-pane" id="tab13" role="tabpanel" aria-labelledby="tab3">
            <table class="data table table-striped no-margin">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Request Date & Time</th>
                    <th>Request Status</th>
                    <th>Action Date & Time</th>
                  </tr>
                </thead>
                <tbody>
                  {% if no_of_accept %}
                    {% for obj in no_of_accept %}
                    <tr>
                      <td>{{obj.user.first_name}} {{obj.user.last_name}}</td>
                      <td>{{obj.user.email}}</td>
                      <td >{{obj.user.mobile}}</td>
                      <td >{{obj.createdAt}}</td>
                      <td >{{obj.action}}</td>
                      <td >{{obj.updatedAt}}</td>
                    </tr>
                    {% endfor %}
                  {% else %}
                  <tr class="odd even pointer">
                      <td colspan="6">
                        <div class="alert alert-info alert-dismissible">
                          Request not found.
                        </div>
                      </td>
                    </tr>
                  {% endif %}
                </tbody>
              </table>
        </div>
        <div class="tab-pane" id="tab14" role="tabpanel" aria-labelledby="tab4">
            <table class="data table table-striped no-margin">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Request Date & Time</th>
                    <th>Request Status</th>
                    <th>Action Date & Time</th>
                  </tr>
                </thead>
                <tbody>
                  {% if no_of_decline %}
                    {% for obj in no_of_decline %}
                    <tr>
                      <td>{{obj.user.first_name}} {{obj.user.last_name}}</td>
                      <td>{{obj.user.email}}</td>
                      <td >{{obj.user.mobile}}</td>
                      <td >{{obj.createdAt}}</td>
                      <td >{{obj.action}}</td>
                      <td >{{obj.updatedAt}}</td>
                    </tr>
                    {% endfor %}
                  {% else %}
                  <tr class="odd even pointer">
                      <td colspan="6">
                        <div class="alert alert-info alert-dismissible">
                          Request not found.
                        </div>
                      </td>
                    </tr>
                  {% endif %}
                </tbody>
              </table>
        </div>
        <div class="tab-pane" id="tab15" role="tabpanel" aria-labelledby="tab5">
                {% if schedule %}
                <p> Start Date : {{schedule.startdate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; End Date : {{schedule.enddate}}
                <table class="table">
                    <thead>
                      <tr>
                        <th>Day</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% if schedule.mon %}
                      <tr>
                        <th scope="row">Monday</th>
                        <td>{% if schedule.mon_start_hr %} {{schedule.mon_start_hr}} {% endif %} {% if schedule.mon_start_ap %} {{schedule.mon_start_ap}} {% endif %}</td>
                        <td>{% if schedule.mon_end_hr %} {{schedule.mon_end_hr}}  {% endif %} {% if schedule.mon_end_ap %} {{schedule.mon_end_ap}} {% endif %}</td>
                      </tr>
                      {% endif %}
                      {% if schedule.tue %}
                      <tr>
                        <th scope="row">Tuesday</th>
                        <td>{% if schedule.tue_start_hr %} {{schedule.tue_start_hr}} {% endif %} {% if schedule.tue_start_ap %} {{schedule.tue_start_ap}} {% endif %}</td>
                        <td>{% if schedule.tue_end_hr %} {{schedule.tue_end_hr}}  {% endif %} {% if schedule.tue_end_ap %} {{schedule.tue_end_ap}} {% endif %}</td>
                      </tr>
                      {% endif %}
                      {% if schedule.wed %}
                      <tr>
                        <th scope="row">Wendsday</th>
                        <td>{% if schedule.wed_start_hr %} {{schedule.wed_start_hr}} {% endif %} {% if schedule.wed_start_ap %} {{schedule.wed_start_ap}} {% endif %}</td>
                        <td>{% if schedule.wed_end_hr %} {{schedule.wed_end_hr}}  {% endif %} {% if schedule.wed_end_ap %} {{schedule.wed_end_ap}} {% endif %}</td>
                      </tr>
                      {% endif %}
                      {% if schedule.thu %}
                      <tr>
                        <th scope="row">Thursday</th>
                        <td>{% if schedule.thu_start_hr %} {{schedule.thu_start_hr}} {% endif %} {% if schedule.thu_start_ap %} {{schedule.thu_start_ap}} {% endif %}</td>
                        <td>{% if schedule.thu_end_hr %} {{schedule.thu_end_hr}}  {% endif %} {% if schedule.thu_end_ap %} {{schedule.thu_end_ap}} {% endif %}</td>
                      </tr>
                      {% endif %}
                      {% if schedule.fri %}
                      <tr>
                        <th scope="row">Friday</th>
                        <td>{% if schedule.fri_start_hr %} {{schedule.fri_start_hr}} {% endif %} {% if schedule.fri_start_ap %} {{schedule.fri_start_ap}} {% endif %}</td>
                        <td>{% if schedule.fri_end_hr %} {{schedule.fri_end_hr}}  {% endif %} {% if schedule.fri_end_ap %} {{schedule.fri_end_ap}} {% endif %}</td>
                      </tr>
                      {% endif %}
                      {% if schedule.sat %}
                      <tr>
                        <th scope="row">Saturday</th>
                        <td>{% if schedule.sat_start_hr %} {{schedule.sat_start_hr}} {% endif %} {% if schedule.sat_start_ap %} {{schedule.sat_start_ap}} {% endif %}</td>
                        <td>{% if schedule.sat_end_hr %} {{schedule.sat_end_hr}}  {% endif %} {% if schedule.sat_end_ap %} {{schedule.sat_end_ap}} {% endif %}</td>
                      </tr>
                      {% endif %}
                      {% if schedule.sun %}
                      <tr>
                        <th scope="row">Sunday</th>
                        <td>{% if schedule.sun_start_hr %} {{schedule.sun_start_hr}} {% endif %} {% if schedule.sun_start_ap %} {{schedule.sun_start_ap}} {% endif %}</td>
                        <td>{% if schedule.sun_end_hr %} {{schedule.sun_end_hr}}  {% endif %} {% if schedule.sun_end_ap %} {{schedule.sun_end_ap}} {% endif %}</td>
                      </tr>
                      {% endif %}
                    </tbody>
                  </table>

                {% else %}
                  <div class="alert alert-info alert-dismissible " role="alert">
                  Schedule not available
                  </div>
                {% endif %}

        </div>
      </div>
      
    </div>

</section>
<!-- /page content -->


{% endblock  %}
