<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Your Temporary password is {{ password }}</title>
    </head>
    <body>
        <p>
            Thank you for contacting us to reset your password.
            <br><br>
            Please use the temporary password below to create your new account password.
            <br><br>
            Temporary Password: {{ password }} 
            <br><br>
            Thank you,<br>
            {{SITE_NAME}}
        </p>
    </body>
</html>