{% extends "backend/base.html" %}

{% block title %}Employer Confirm Delete!{% endblock %}

{% load static %}

{% block content %}

<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Confirm Delete!</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                   <div class="x_content">
                        {% if messages %}
                            {% for message in messages %}
                                {% if message.tags == 'error' %}
                                    <div class="alert alert-danger">{{ message|safe }}</div><br/>
                                {% else%}
                                    <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div><br/>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                       
                        <br />
                        <form method="post">
                            {% csrf_token %}
                            <div class="alert alert-danger alert-dismissible fade show mb-0" role="alert">
                                <i class="fa fa-ban mx-2"></i> <strong>Confirm Delete!</strong> <br/ >Are you sure you want to delete "{{ object }}" ?
                                <button type="submit" class="btn btn-success">Submit</button>
                                <a href="{% url 'backend_job_list' %}" class="btn btn-primary">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  %}
