<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Reset Password Request</title>
    </head>
    <body>
        <p>
            To initiate the password reset process for your {{ email }} {{SITE_NAME}} Account,
            <br> <br>
            click the link below:
            <br>
            <a href="{{reset_url}}">{{reset_url}}</a>
            <br><br>
            If clicking the link above doesn't work, please copy and paste the URL in a new browser window instead.
            <br><br>
            Thank you,<br>
            {{SITE_NAME}}
        </p>
    </body>
</html>
