{% extends 'dashboardBase.html' %} {% load static %} {% block css %}
<style>
    .cardHeader {
        height: 5px !important;
        border-radius: 5px 5px 0px 0px
    }

    a {
        text-decoration: none;
    }

    .dashboardCardWrapper {
        height: 300px;
    }
    .bgColorRedBlue {
        background-image: linear-gradient(-90deg, #1b3460, #b82d39) !important;
        height: 5px !important;
        background-color: red !important;
    
    }
</style>
{% endblock %}


{% block contentTitle %}
<h6 class="signInTitle fontBold s20Px">Dashboard</h6>
{% endblock %}


{% block breadcrumbs %}
{% endblock %}


{% block content %}

<div class="col-xs-12 col-md-12">
    <div class="row">
        <div class="col-xs-12 mt-2">

            <p class="">Hi {{user.first_name}}! What would you like to do?</h3>
        </div>

        <!-- CARDS START  -->
        <div class="col-xs-12 col-sm-12  col-md-12 col-lg-4 col-xl-4  mt-2 mb-2 ">
            <a href="{% url 'job_create' %}">
                <div class="card w-100 dashboardCardWrapper bgColorJumbotron">
                    <div class="w-100 cardHeader bgColorRedBlue"></div>
                    <div class="card-body flexColCenter">
                        <img src="{% static 'home/assets/img/createajob.png' %}" class="loginLogo" />
                        
                        <h5 class="textColorRed mt-3 s22Px fontBold">Create A Job</h5>
                        <p class="s14Px textColorBlack text-center">Start adding the positions you<br /> need filled</p>
                        <h6 class="textColorBlue s18Px fontBold">Lets get started </h6>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-12 col-sm-12  col-md-12 col-lg-4 col-xl-4  mt-2 mb-2 ">
            <a href="{% url 'find_job_seekers' %}">

                <div class="card w-100 dashboardCardWrapper bgColorJumbotron">
                    <div class="w-100 cardHeader bgColorRedBlue"></div>
                    <div class="card-body flexColCenter">
                        <img src="{% static 'home/assets/img/findjobseekes.png' %}" class="loginLogo" />
                        <h5 class="textColorRed mt-3 s22Px fontBold">Find Job Seekers</h5>
                        <p class="s14Px textColorBlack text-center">Search applicants for your next <br />employee</p>
                        <h6 class="textColorBlue s18Px fontBold">Lets get started </h6>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-12 col-sm-12  col-md-12 col-lg-4 col-xl-4  mt-2 mb-2 ">
            <a href="{% url 'find_job_seekers' %}">
                <div class="card w-100 dashboardCardWrapper bgColorJumbotron">
                    <div class="w-100 cardHeader bgColorRedBlue"></div>
                    <div class="card-body flexColCenter">
                        <img src="{% static 'home/assets/img/viewoffer.png' %}" class="loginLogo" />
                        <h5 class="textColorRed mt-3 s22Px fontBold">View Offers</h5>
                        <p class="s14Px textColorBlack text-center">Look over pending applicant offers</p>
                        <h6 class="textColorBlue s18Px fontBold">Lets get started </h6>
                    </div>
                </div>
            </a>
        </div>


        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mt-2 mb-2">
            <div class="card w-100 h-100 dashboardCardWrapper">
                <div class="card-header flexRowBetween bgColorWhite border-0">
                    <span class="fontBold"> Job Bank</span>
                    <span>
                        <img src="{% static 'home/assets/img/Shape.png' %}" class="loginLogo" width="25px"/>
                        
                        </span>
                </div>
                <div class="card-body flexColCenter">
                    <img src="{% static 'home/assets/img/list.png' %}" class="loginLogo" />
                    <h6 class="textColorBlack mt-3 s18Px">Your List is Empty</h6>
                    <p class="s14Px text-center">Job not found, <span class="textColorRed"> Click Here</span> to create
                        a job.</p>
                
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mt-2 mb-2">
            <div class="card w-100 h-100 dashboardCardWrapper">
                <div class="card-header flexRowBetween bgColorWhite border-0">
                    <span class="fontBold"> Offered Jobs</span>
                    <span> 
                        <img src="{% static 'home/assets/img/Shape.png' %}" class="loginLogo" width="25px"/>
                    </span>
                </div>
                <div class="card-body flexColCenter">
                    <img src="{% static 'home/assets/img/list.png' %}" class="loginLogo" />
                    <h6 class="textColorBlack mt-3 s18Px">Your List is Empty</h6>
                    <p class="s14Px text-center">Job not found, <span class="textColorRed"> Click Here</span> to create
                        a job.</p>
                    
                </div>
            </div>
        </div>

        <!-- CARDS END  -->

    </div>
</div>
{% endblock %} {% block scripts %} {% endblock %}