{% extends 'dashboardBase.html' %} {% load static %} {% block css %}
<style>
    .cardHeader {
        height: 5px !important;
        border-radius: 5px 5px 0px 0px
    }

    a {
        text-decoration: none;
    }

    .dashboardCardWrapper {
        height: 300px;
    }
</style>
{% endblock %}


{% block contentTitle %}
<h2 class="fontBold">Dashboard </h2>
{% endblock %}


{% block breadcrumbs %}
{% endblock %}


{% block content %}

<div class="col-xs-12 col-md-12">
    <div class="row">
        <div class="col-xs-12 mt-4">

            <p class="">Hi {{user.first_name}}! What would you like to do?</h3>
        </div>

        <!-- CARDS START  -->
        <div class="col-xs-12 col-sm-12  col-md-12 col-lg-4 col-xl-4  mt-2 mb-2 ">
            <a href="{% url 'job_create' %}">
                <div class="card w-100 dashboardCardWrapper">
                    <div class="w-100 cardHeader bgColorBlue"></div>
                    <div class="card-body flexColCenter">
                        <i class="fa fa-file fa-4x textColorBlue"></i>
                        <p class="textColorRed mt-3 s25Px fontBold">Create A Job</p>
                        <p class="s14Px textColorBlack text-center">Start adding the positions <br /> need filled</p>
                        <h5 class="textColorBlue">Lets get started </h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-12 col-sm-12  col-md-12 col-lg-4 col-xl-4  mt-2 mb-2 ">
            <a href="{% url 'find_job_seekers' %}">

                <div class="card w-100 dashboardCardWrapper">
                    <div class="w-100 cardHeader bgColorBlue"></div>
                    <div class="card-body flexColCenter">
                        <i class="fa fa-file fa-4x textColorBlue"></i>
                        <p class="textColorRed mt-3 s25Px fontBold">Find Job Seekers</p>
                        <p class="s14Px textColorBlack text-center">Search applicant for your next <br />employee</p>
                        <h5 class="textColorBlue">Lets get started </h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-12 col-sm-12  col-md-12 col-lg-4 col-xl-4  mt-2 mb-2 ">
            <a href="{% url 'find_job_seekers' %}">
                <div class="card w-100 dashboardCardWrapper">
                    <div class="w-100 cardHeader bgColorBlue"></div>
                    <div class="card-body flexColCenter">
                        <i class="fa fa-file fa-4x textColorBlue"></i>
                        <p class="textColorRed mt-3 s25Px fontBold">View Offers</p>
                        <p class="s14Px textColorBlack text-center">Look over the pending applicant offers</p>
                        <h5 class="textColorBlue">Lets get started </h5>
                    </div>
                </div>
            </a>
        </div>


        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mt-2 mb-2">
            <div class="card w-100 dashboardCardWrapper">
                <div class="card-header flexRowBetween">
                    <span class="fontBold"> Job Bank</span>
                    <span> <i class="fa fa-arrow-right"></i></span>
                </div>
                <div class="card-body flexColCenter">
                    <i class="fa fa-file fa-4x textColorRed"></i>
                    <h5 class="textColorBlack mt-3">Your List is Empty</h5>
                    <p class="s14Px text-center">Job bot found, <span class="textColorRed"> Click Here</span> to create
                        a job.</p>
                    <h5 class="textColorBlue">Lets get started </h5>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mt-2 mb-2">
            <div class="card w-100 dashboardCardWrapper">
                <div class="card-header flexRowBetween">
                    <span class="fontBold"> Offered Jobs</span>
                    <span> <i class="fa fa-arrow-right"></i></span>
                </div>
                <div class="card-body flexColCenter">
                    <i class="fa fa-file fa-4x textColorRed"></i>
                    <h5 class="textColorBlack mt-3">Your List is Empty</h5>
                    <p class="s14Px text-center">Job bot found, <span class="textColorRed"> Click Here</span> to create
                        a job.</p>
                    <h5 class="textColorBlue">Lets get started </h5>
                </div>
            </div>
        </div>

        <!-- CARDS END  -->

    </div>
</div>
{% endblock %} {% block scripts %} {% endblock %}