{% load static %}
<footer id="footer" class="fixed-bottom">
    <div class="container d-md-flex py-4">
        <div class="mr-md-auto text-center text-md-left">
            <div class="copyright">
                <!-- &copy; Copyright {% now 'Y' %} Go To Work America | All Rights Reserved | <a href="https://www.rezzame.com/" target="_blank">rezzame.com</a> -->
                &copy; Copyright {% now 'Y' %} Go To Work America | All Rights Reserved

            </div>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
            <a target="_blank" href="https://www.facebook.com/Go-To-Work-America-334758586933470" class="facebook"><i class="bx bxl-facebook"></i></a>
        </div>
    </div>
</footer>