{% load static %}
<footer id="footer">
  <div class="container d-md-flex py-4">
    <div class="mr-md-auto text-center text-md-left">
      <div class="copyright">
        &copy; Copyright {% now 'Y' %} Go To Work America | All Rights Reserved | <a href="https://www.rezzame.com/" target="_blank">rezzame.com</a>
      </div>
    </div>
    <div class="social-links text-center text-md-right pt-3 pt-md-0">
      <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
    </div>
  </div>
</footer>