{% extends "base.html" %}

{% block title %}Reset password{% endblock %}

{% block pagetitle %}Reset password{% endblock %}

{% load static %}

{% block breadcrumbs %}
	{{ block.super }}
	<li>Reset password</li>
{% endblock %}

{% load backend_extras %}

{% block content %}

{% if validlink %}
<section class="inner-page">
	<div class="container">
		<div class="form">
			<h4>Rest your password</h4>
			{% if form.errors %}
				<div class="alert alert-danger">
				{% for field in form %}
					{% if field.errors %}
						{% for error in field.errors %}
							<strong>{{ field.label }}</strong> : {{ error|escape }}<br/>
						{% endfor %}
					{% endif %}
				{% endfor %}
				{% if form.non_field_errors %}
					{{ form.non_field_errors }}
				{% endif %}
				</div>
				{% endif %}

			<form method="post">
				{% csrf_token %}

				{% for field in form.visible_fields %}
					<div class="row">
						<div class="col form-group">
							<label>{{ field.label }} {% if field.field.required %} * {% endif %}</label>
							{{field|addclass:"form-control"}}
							<small style="color: grey">{{ field.help_text|safe }}</small>
						</div>
					</div>
				{% endfor %}

				{% for hidden_field in form.hidden_fields %}
					{{ hidden_field }}
				{% endfor %}

				
				<button type="submit" class="btn btn-primary text-center">Submit</button>
				<div class="row px-3 mb-4 pt-4">
					<a href="{% url 'sign_in' %}" class="">Sign In</a> <a href="{% url 'sign_up' %}" class="ml-auto mb-0 text-sm">Sign Up</a>
				</div>
					


			</form>

		</div>
	</div>
</section>
{% else %}
	<section class="inner-page">
		<div class="container">
			<div class="alert alert-danger" role="alert">
				<p>The password reset link was invalid, possibly because it has already been used.</p>
				<p>Please request a new password reset.</p>
			</div>
		</div>
	</section>
{% endif %}

{% endblock  %}
