{% extends "base.html" %}

{% block title %}Forgot Password{% endblock %}

{% block pagetitle %}Forgot password{% endblock %}

{% load static %}

{% block breadcrumbs %}
	{{ block.super }}
	<li>Forgot password</li>
{% endblock %}

{% block content %}
<section class="inner-page">
	<div class="container">
		<div class="alert alert-info" role="alert">
			<h4 class="alert-heading">Thank You!</h4>
			<p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly. If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
		</div>
	</div>
</section>
{% endblock  %}