{% extends "backend/base.html" %}

{% block title %}View Jobseeker{% endblock %}

{% load static %}

{% block content %}
<!-- page content -->
<div class="right_col" role="main">
  <div class>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Jobseeker Report</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="col-md-3 col-sm-3  profile_left">
              <div class="profile_img">
                <div id="crop-avatar">
                  <!-- Current avatar -->
                  <img class="img-responsive avatar-view" src="{% if object.image %}{{object.image.url}}{% else %}{% static 'backend/images/avatar.jpeg' %}{% endif %}" alt="Avatar" title="Change the avatar" width="220" height="220">
                </div>
              </div>
              <h3>{{object.first_name}} {{object.last_name}}</h3>

              <ul class="list-unstyled user_data">
                <li>
                  <i class="fa fa-map-marker user-profile-icon"></i> {{object.address}}, {{object.city.name}}, {{object.state.code}} {{object.zipcode}}
                </li>
                <li>
                  <i class="fa fa-phone"></i> {{object.mobile}}
                </li>

                <li>
                  <i class="fa fa-inbox"></i> {{object.email}}
                </li>
              </ul>
              <h4>Available : {% if object.available %}Yes{% else %}No{% endif %}</h4>
              <br>
              <h4>Willing to do a background check : {{object.bg_check}} </h4>
              
            </div>

            <div class="col-md-9 col-sm-9 ">
              
              <div class="" role="tabpanel" data-example-id="togglable-tabs">
                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                  <li role="presentation" class="active"><a href="#tab_content1" id="tc1" role="tab" data-toggle="tab" aria-expanded="true">About Jobseeker</a></li>
                  <li role="presentation" class=""><a href="#tab_content2" role="tab" id="tc2" data-toggle="tab" aria-expanded="false">Job Offers</a></li>
                  <li role="presentation" class=""><a href="#tab_content3" role="tab" id="tc3" data-toggle="tab" aria-expanded="false">Schedule</a></li>
                  <li role="presentation" class=""><a href="#tab_content4" role="tab" id="tc4" data-toggle="tab" aria-expanded="false">Video Resume</a></li>
                  <li role="presentation" class=""><a href="#tab_content5" role="tab" id="tc5" data-toggle="tab" aria-expanded="false">Categories</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                  
                  <div role="tabpanel" class="tab-pane active" id="tab_content1" aria-labelledby="tc1">
                    <p>{{object.yourself}}</p>
                  </div>

                  <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="tc2">
                    
                    <!-- start user projects -->
                  <table class="data table table-striped no-margin">
                      <thead>
                        <tr>
                          <th>Employer</th>
                          <th>Hiring Comapny</th>
                          <th>Hiring Manager</th>
                          <th>Hourly Rate</th>
                          <th>Request Date & Time</th>
                          <th>Request Status</th>
                          <th>View</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% if offers %}
                          {% for obj in offers %}
                          <tr>
                            <td>{{obj.job.user.first_name}} {{obj.user.last_name}}</td>
                            <td>{{obj.job.hiring_company}}</td>
                            <td >{{obj.job.hiring_manager_name}}</td>
                            <td >${{obj.job.hourly_rate}}</td>
                            <td >{{obj.createdAt}}</td>
                            <td >{{obj.action}}</td>
                            <td ><a href="{% url 'backend_job_view' obj.job.token %}" title="View" alt="View"><i class="fa fa-eye"></i></a></td>
                          </tr>
                          {% endfor %}
                        {% else %}
                        <tr class="odd even pointer">
                            <td colspan="7">
                              <div class="alert alert-info alert-dismissible">
                                Request not found.
                              </div>
                            </td>
                          </tr>
                        {% endif %}
                      </tbody>
                    </table>
                    <!-- end user projects -->

                  </div>

                  <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="tc3">

                    {% if schedule %}
                    
                    <p>{% if schedule.part_time%}<i class="fa fa-check"></i>{% else %}<i class="fa fa-close"></i>{% endif %} Part-Time &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {% if schedule.full_time %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-close"></i>{% endif %} Full-Time</p>

                    <table class="table">
                        <thead>
                          <tr>
                            <th>Day</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% if schedule.sun %}
                          <tr>
                            <th scope="row">Sunday</th>
                            <td>{{schedule.sun_start_hr}} {{schedule.sun_start_ap}}</td>
                            <td>{{schedule.sun_end_hr}} {{schedule.sun_end_ap}}</td>
                          </tr>
                          {% endif %}
                          {% if schedule.mon %}
                          <tr>
                            <th scope="row">Monday</th>
                            <td>{{schedule.mon_start_hr}} {{schedule.mon_start_ap}}</td>
                            <td>{{schedule.mon_end_hr}} {{schedule.mon_end_ap}}</td>
                          </tr>
                          {% endif %}
                          {% if schedule.tue %}
                          <tr>
                            <th scope="row">Tuesday</th>
                            <td>{{schedule.tue_start_hr}} {{schedule.tue_start_ap}}</td>
                            <td>{{schedule.tue_end_hr}} {{schedule.tue_end_ap}}</td>
                          </tr>
                          {% endif %}
                          {% if schedule.wed %}
                          <tr>
                            <th scope="row">Wendsday</th>
                            <td>{{schedule.wed_start_hr}} {{schedule.wed_start_ap}}</td>
                            <td>{{schedule.wed_end_hr}} {{schedule.wed_end_ap}}</td>
                          </tr>
                          {% endif %}
                          {% if schedule.thu %}
                          <tr>
                            <th scope="row">Thursday</th>
                            <td>{{schedule.thu_start_hr}} {{schedule.thu_start_ap}}</td>
                            <td>{{schedule.thu_end_hr}} {{schedule.thu_end_ap}}</td>
                          </tr>
                          {% endif %}
                          {% if schedule.fri %}
                          <tr>
                            <th scope="row">Friday</th>
                            <td>{{schedule.fri_start_hr}} {{schedule.fri_start_ap}}</td>
                            <td>{{schedule.fri_end_hr}} {{schedule.fri_end_ap}}</td>
                          </tr>
                          {% endif %}
                          {% if schedule.sat %}
                          <tr>
                            <th scope="row">Saturday</th>
                            <td>{{schedule.sat_start_hr}} {{schedule.sat_start_ap}}</td>
                            <td>{{schedule.sat_end_hr}} {{schedule.sat_end_ap}}</td>
                          </tr>
                          {% endif %}
                        </tbody>
                      </table>

                    {% else %}
                      <div class="alert alert-info alert-dismissible " role="alert">
                      Schedule not available
                      </div>
                    {% endif %}

                  </div>
                  
                  <div role="tabpanel" class="tab-pane fade" id="tab_content4" aria-labelledby="tc4">
                      {% if object.video %}
                        <video width="540" height="310" controls><source src="{{object.video.url}}" type="video/mp4"></video>
                      {% else %}
                      <div class="alert alert-info alert-dismissible " role="alert">
                        Video Resume not uploaded
                      </div>
                      {% endif %}
                  </div>

                  <div role="tabpanel" class="tab-pane fade" id="tab_content5" aria-labelledby="tc5">
                      <ul id="treeview">
                        {% for category in object.usercategory_set.all %}
                          <li>{{category.category.name}}
                              {% if category.subcategory.all %}
                              <ul>
                                  {% for sub in category.subcategory.all %}
                                      <li>{{sub}}</li>
                                  {% endfor %}
                              </ul>
                              {% endif %}
                          </li>
                          {% endfor %}
                      </ul>
                  </div>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->


{% endblock  %}
