{% extends "backend/base.html" %}

{% block title %}Jobseekers{% endblock %}

{% load static %}

{% load backend_extras %} 

{% block content %}

<!-- page content -->
<div class="right_col" role="main">
	<div class="">
		<div class="page-title">
			<div class="title_left">
				<h3>Jobseekers</h3>
			</div>
			<div class="title_right">
				<div class="col-md-5 col-sm-5 form-group pull-right top_search">
					<a href="{% url 'backend_jobseeker_new' %}" class="btn btn-primary"><i class="fa fa-plus"></i> Add New Jobseeker</a>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-12 col-sm-12 ">
			{% if messages %}
				{% for message in messages %}
					{% if message.tags == 'error' %}
						<div class="alert alert-danger">{{ message|safe }}</div>
					{% else%}
						<div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
					{% endif %}
				{% endfor %}
			{% endif %}
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-12 col-sm-12 ">
				<div class="x_panel">
					<div class="x_title">
						<h2>Filter</h2>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<form class="form-horizontal form-label-left" method="POST">
							<div class="col-md-3 col-sm-3  form-group">
								{{ form.search|addclass:"form-control" }}
							</div>
							<div class="col-md-3 col-sm-3  form-group">
								{{ form.is_active|addclass:"form-control" }}
							</div>
							<div class="col-md-3 col-sm-3  form-group">
								{{ form.available|addclass:"form-control" }}
							</div>
							<div class="col-md-3 col-sm-3  form-group">
								<button type="submit" class="btn btn-success" value="searchbtn" name="searchbtn">Search</button>
								<button type="submit" class="btn btn-secondary" value="clearbtn" name="clearbtn">Clear</button>
							</div>
							{% csrf_token %}
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
			<div class="row" style="display: block;">
					<div class="col-md-12 col-sm-12  ">
							<div class="x_panel">
							  <div class="x_title">
								<h2>Listing</h2>
								<div class="panel_toolbox">
									<button type="button" class="btn btn-secondary" onclick="ActionForm('active')"><i class="fa fa-lock"></i> Active</button>
									<button type="button" class="btn btn-secondary" onclick="ActionForm('inactive')"><i class="fa fa-unlock"></i> Inactive</button>
								</div>
								<div class="clearfix"></div>
							  </div>
			
							  <div class="x_content">
								<form method="POST" id="action_form" action="{% url 'backend_jobseeker_status' %}">
									<div class="table-responsive">
										{% csrf_token %}
										<table class="table table-striped jambo_table">
											<thead>
											<tr class="headings">
												<th><input type="checkbox" id="check-all"></th>
												<th class="column-title">Full Name </th>
												<th class="column-title">Email Address </th>
												<th class="column-title">Phone # </th>
												<th class="column-title">Register On </th>
												<th class="column-title">Status </th>
												<th class="column-title no-link last"><span class="nobr">Action</span></th>
											</tr>
											</thead>
											
											<tbody>
												{% if object_list %}
													{% for obj in object_list %}
														<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %} pointer">
															<td class="a-center ">
															<input type="checkbox" class="chk" id="id_{{obj.token}}" name="records" value="{{obj.token}}">
															</td>
															<td class=" ">{{obj.first_name}} {{obj.last_name}}</td>
															<td class=" ">{{obj.email}}</td>
															<td class=" ">{{obj.mobile}}</td>
															<td class=" ">{{obj.date_joined}}</td>
															<td class=" ">
																{% if obj.is_active %}
																	<i class="fa fa-check"></i>
																{% else %}
																	<i class="fa fa-times"></i>
																{% endif %}
															</td>
															<td class=" ">
																<a href="{% url 'backend_jobseeker_view' obj.token %}" title="View" alt="View"><i class="fa fa-eye"></i></a>
																|
																<a href="{% url 'backend_jobseeker_edit' obj.token %}" title="Edit" alt="Edit"><i class="fa fa-edit"></i></a>
																|
																<a href="{% url 'backend_jobseeker_delete' obj.token %}" title="Delete" alt="Delete"><i class="fa fa-trash"></i></a>
																|
																<a href="{% url 'backend_jobseeker_change_password' obj.token %}" title="Change Password" alt="Change Password"><i class="fa fa-key"></i></a>
																|
																<a href="{% url 'backend_jobseeker_schedule' obj.token %}" title="Schedule" alt="Schedule"><i class="fa fa-clock-o"></i></a>

															</td>
														</tr>
													{% endfor %}
												{% else %}
												<tr class="odd even pointer">
													<td colspan="7">
														<div class="alert alert-info alert-dismissible " role="alert">
															{% if request.POST %}
																Your search did not match any records.
															{% else %}
																Records not found.
															{% endif %}
														</div>
													</td>
												</tr>
												{% endif %}
											</tbody>
										</table>
									</div>
									<input type="hidden" name="action_on" id="action_on">
								</form>		
							  
							  <div class="x-footer clearfix">
									{% if object_list.has_other_pages %}
									<ul class="pagination pagination-sm m-0">
									{% if object_list.has_previous %}
									<li class="page-item"><a class="page-link" href="?page={{ object_list.previous_page_number }}">&laquo;</a></li>
									{% else %}
									<li class="page-item disabled"><a class="page-link" href="#">«</a></li>
									{% endif %}
				
									{% for i in object_list.paginator.page_range %}
									{% if object_list.number > 10 and forloop.first %}
									<li class="page-item"><a class="page-link" href="?page=1">1</a></li>
									<li class="page-item disabled"><a class="page-link" href="#">...</a></li>
									{% endif %}
									{% if object_list.number == i %}
									<li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
									{% elif i > object_list.number|add:'-10' and i < object_list.number|add:'10' %}
									<li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
									{% endif %}
									{% if object_list.paginator.num_pages > object_list.number|add:'10' and forloop.last %}
									<li class="page-item disabled"><a class="page-link" href="#">...</a></li>
									<li class="page-item"><a class="page-link" href="?page={{ object_list.paginator.num_pages }}">{{ object_list.paginator.num_pages }}</a></li>
									{% endif %}
									{% endfor %}
									{% if object_list.has_next %}
									<li class="page-item"><a class="page-link" href="?page={{ object_list.next_page_number }}">&raquo;</a></li>
									{% else %}
									<li class="page-item disabled"><a class="page-link" href="#">»</a></li>
									{% endif %}
									</ul>
									{% endif %}
								</div>
							</div>
							</div>
						  </div>

			</div>
		</div>
	</div>
</div>
{% endblock  %}
