body {
    min-height: 100vh;
    height: 100vh;
    overflow: auto;
}

.listItem {
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 15px;
    padding: 10px;
}

.listItemActive {
    background-color: rgb(167, 165, 165);
}

.lisItemText {
    margin-left: 10px;
    font-weight: 600;
}

.sidebarIcon {
    font-size: 20px;
}

.navLogoWrapper {
    padding-left: 50px;
    margin-top:20px;
}

.navWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.navLoginInfoWrapper {
    border-radius: 50%;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}


/* FOOTER  */

.footerIconsWrapper {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-left: 5px;
    margin-right: 5px;
}

.progress {
    margin: 10px 0px 100px 0px;
    width: 150px;
    height: 150px;
    background: none;
    position: relative;

}

.progress::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 6px solid rgb(214, 35, 35);
    position: absolute;
    top: 0;
    left: 0;
}

.progress>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}

.progress .progress-left {
    left: 0;
}

.progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 6px;
    border-style: solid;
    position: absolute;
    top: 0;
}

.progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}

.progress .progress-right {
    right: 0;
}

.progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
}

.progress .progress-value {
    position: absolute;
    top: 0;
    left: 0;
}

.sidebarAnchor{
    text-decoration: none!important;
    border-radius: 5px!important;
}