{% extends 'dashboardBase.html' %} {% load static %} {% block css %}
<style>
  .cardSquareText1 {
    position: absolute;
    margin-bottom: 42px;
    font-size: 40px;
  }

  .cardSquareText2 {
    position: absolute;
    margin-bottom: -25px;

  }

  .rectangleWrapper {
    position: relative;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;

  }


  .card1List {
    list-style: none;
  }

  .card1List li {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #ADB4C4;
  }

  .cardWrapper1 {
    padding-top: 15px;
    border-radius: 5px;

  }

  .cardWrapper {
    background-color: #F9F9FB;
    border-radius: 5px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding: 15px;
    border: 1px solid black;

  }

  .hrLine {
    background-color: #ADB4C4;
    width: 50%;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
  }

  .liCheckIcon {
    fontSize: 20px;

  }
</style>
{% endblock %}


{% block contentTitle %}
{% endblock %}


{% block breadcrumbs %}
{% endblock %}



{% block sidebar %} {% endblock %}
{% block content %} {% endblock %}

{% block onlyContent %}
<div class="col-md-12">
  <div class="row">
    <div class="col-md-12 m-0 p-0  bgColorBlue flexRowCenter" style="height:200px">
      <h2 class="textColorWhite">Staffing Plans</h2>
    </div>


  </div>
  <div class="row" style="background-color:#F7F7F7;height:60px">
    <div class="col-10  offset-1   d-flex flex-row justify-content-start align-items-center">
      <nav aria-label="breadcrumb m-0 p-0  ">
        <ol class="breadcrumb m-0 p-0  ">
          <li class="breadcrumb-item "><a class="textColorBlack" href="/dashboard">Dashboard</a></li>
          <li class="breadcrumb-item active textColorRed" aria-current="page">Staffing Plans</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<div class="row mt-4">
  <div class="col-md-10 offset-1 text-justify">
    <p>Choose the right option that best meets you staffing needs for your buisness. Once year plan is selected you will
      have unlimited access for<br />the duration of the term.</p>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-10  offset-1 text-justify  ">
    <div class="row">
      {% comment %} CARD START {% endcomment %}

      <div
        class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 d-flex flex-row justify-content-center align-items-center ">
        <div class="row">
          <div class="col-md-8 offset-md-2   ">
            <div class="row cardWrapper1  bgColorJumbotron" style="border:1px solid none;">
              <div class=" col-md-12 flexColCenter pt-4">
                <h3 class="fontBold textColorBlack mb-0 pb-0">SOLO</h3>
                <p class="fomtBold text-muted mt-0 pt-0">(3 Month Plan)</p>
              </div>


              <div class="col-md-12 flexColCenter rectangleWrapper">
                <img src="{% static 'plan/assets/img/reactangle.png' %}" height="250" />
                <span class="textColorWhite cardSquareText1  fontBold">$1099</span>
                <span class="textColorWhite cardSquareText2  ">per Month</span></div>

              <div class="col-md-12 flexRowCenter mt-4 " style="height:45px;background-color:#AEB5C5;">
                <p class=" m-0 p-0  textColorBlack fontBold" style="letter-spacing: 10px;font-size:35px;">$3299</p>
              </div>
              <div class="col-md-12  mb-3 mt-3">
                <ul class="card1List">
                  <li class="textColorBlack"><i class="fa fa-check liCheckIcon"></i> 1 User</li>
                  <li class="textColorBlack"><i class="fa fa-check liCheckIcon"></i> 1 Brand</li>
                  <li class="textColorBlack"><i class="fa fa-check liCheckIcon"></i> 1 Location</li>
                  <li class="textColorBlack"><i class="fa fa-check liCheckIcon"></i> Unlimited Searches</li>
                  <li class="textColorBlack"><i class="fa fa-check liCheckIcon"></i> Unlimited Job Posts</li>
                  <li class="textColorBlack"><i class="fa fa-check liCheckIcon"></i> Unlimited Hires</li>
                  <li class="textColorBlack"><i class="fa fa-check liCheckIcon"></i> One-Time Payment</li>
                  <li class="textColorBlack"><i class="fa fa-check liCheckIcon"></i> No Auto-Renewel</li>
                </ul>
              </div>
              <hr class="hrLine" />
              <div class="flexRowCenter  text-muted fontBold" style="font-size:25px;">
                Select Plan
              </div>
            </div>
          </div>
        </div>


      </div>
      {% comment %} CARD END {% endcomment %}

      {% comment %} CARD START {% endcomment %}

      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4  ">
        <div class="row">
          <div class="col-md-10 offset-md-1   ">
            <div class="row cardWrapper1 " style="border: 1px solid #1b3460;">
              <div class=" col-md-12 flexColCenter    ">
                <p class="textColorRed fontBold">Recommended</p>
                <h3 class="fontBold textColorBlack mb-0 pb-0">MULTI</h3>
                <p class="fomtBold text-muted mt-0 pt-0">(3 Month Plan)</p>
              </div>


              <div class="col-md-12 flexColCenter rectangleWrapper">
                <img src="{% static 'plan/assets/img/reactangle.png' %}" height="250" />
                <span class="textColorWhite cardSquareText1  fontBold">$1099</span>
                <span class="textColorWhite cardSquareText2  ">per Month</span></div>

              <div class="col-md-12 flexRowCenter mt-3 bgColorBlue" style="height:60px">
                <p class=" m-0 p-0  textColorWhite fontBold" style="letter-spacing: 10px;font-size:40px;">$6599</p>
              </div>
              <div class="col-md-12  mb-3 mt-3">
                <ul class="card1List">
                  <li class="textColorBlack"><i class="fa fa-check liCheckIcon"></i> 3 User</li>
                  <li class="textColorBlack"><i class="fa fa-check liCheckIcon"></i> 3 Brand</li>
                  <li class="textColorBlack"><i class="fa fa-check liCheckIcon"></i> 3 Location</li>
                  <li class="textColorBlack"><i class="fa fa-check liCheckIcon"></i> Unlimited Searches</li>
                  <li class="textColorBlack"><i class="fa fa-check liCheckIcon"></i> Unlimited Job Posts</li>
                  <li class="textColorBlack"><i class="fa fa-check liCheckIcon"></i> Unlimited Hires</li>
                  <li class="textColorBlack"><i class="fa fa-check liCheckIcon"></i> One-Time Payment</li>
                  <li class="textColorBlack"><i class="fa fa-check liCheckIcon"></i> No Auto-Renewel</li>
                </ul>
              </div>
              <div class=" bgColorBlue  flexRowCenter" style="height:60px;border-radius:0px 0px 5px 5px;  ">
                <span class="fontBold w-75    " style="color:#fff;font-size:25px;text-align:right">Select
                  Plan</span>
                <img class="" src="{% static 'plan/assets/img/mouseHand.png' %}" height="150 " width="150 " />

              </div>
            </div>
          </div>
        </div>


      </div>
      {% comment %} CARD END {% endcomment %}



      {% comment %} CARD START {% endcomment %}

      <div
        class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 d-flex flex-row justify-content-center align-items-center ">
        <div class="row">
          <div class="col-md-8 offset-md-2   ">
            <div class="row cardWrapper1  bgColorJumbotron" style="border:1px solid none;">
              <div class=" col-md-12 flexColCenter pt-4">
                <h3 class="fontBold textColorBlack mb-0 pb-0">SOLO</h3>
                <p class="fomtBold text-muted mt-0 pt-0">(3 Month Plan)</p>
              </div>


              <div class="col-md-12 flexColCenter rectangleWrapper">
                <img src="{% static 'plan/assets/img/reactangle.png' %}" height="250" />
                <span class="textColorWhite cardSquareText1  fontBold">$1099</span>
                <span class="textColorWhite cardSquareText2  ">per Month</span></div>

              <div class="col-md-12 flexRowCenter mt-4 " style="height:45px;background-color:#AEB5C5;">
                <p class=" m-0 p-0  textColorBlack fontBold" style="letter-spacing: 10px;font-size:35px;">$3299</p>
              </div>
              <div class="col-md-12  mb-3 mt-3">
                <ul class="card1List">
                  <li class="textColorBlack"><i class="fa fa-check liCheckIcon"></i> 1 User</li>
                  <li class="textColorBlack"><i class="fa fa-check liCheckIcon"></i> 1 Brand</li>
                  <li class="textColorBlack"><i class="fa fa-check liCheckIcon"></i> 1 Location</li>
                  <li class="textColorBlack"><i class="fa fa-check liCheckIcon"></i> Unlimited Searches</li>
                  <li class="textColorBlack"><i class="fa fa-check liCheckIcon"></i> Unlimited Job Posts</li>
                  <li class="textColorBlack"><i class="fa fa-check liCheckIcon"></i> Unlimited Hires</li>
                  <li class="textColorBlack"><i class="fa fa-check liCheckIcon"></i> One-Time Payment</li>
                  <li class="textColorBlack"><i class="fa fa-check liCheckIcon"></i> No Auto-Renewel</li>
                </ul>
              </div>
              <hr class="hrLine" />
              <div class="flexRowCenter  text-muted fontBold" style="font-size:25px;">
                Select Plan
              </div>
            </div>
          </div>
        </div>


      </div>
      {% comment %} CARD END {% endcomment %}




    </div>




  </div>
  <div class="col-md-4"></div>
  <div class="col-md-4"></div>

</div>
</div>
</div>




{% comment %} <section id="pricing" class="pricing section-bg">
  <div class="container">

    <div class="section-title">
      <h2>Membership Plan</h2>
    </div>

    <div class="row">

      {% for obj in object_list %}
      <div class="col-lg-4 col-md-6">
        <div class="box">
          <h3>{{obj.name}}</h3>
          <h4><sup>$</sup>{{obj.amount}}<span> / {{obj.period}}</span></h4>
          <ul>
            <li>Unlimited Job Create</li>
            <li>Unlimited Job Offers</li>
            <li>Find Job Seekers</li>
          </ul>
          <div class="btn-wrap">
            <a href="{% url 'subscription_checkout' obj.token %}" class="btn-buy">Buy Now</a>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</section> {% endcomment %}

{% endblock  %}